/* size all elements using the border box instead of the padding box */
* { box-sizing: border-box; }

body {
  -webkit-user-select: none;
  font: 0.75em/1.2em "Helvetica Neue", "Roboto", "Droid Sans", Arial, sans-serif;
  height 100%
}

.full {
  width: 100%;
}


/* BUTTONS */
.btn {
  border-radius: 5px;
  border: 1px solid #4f5153;
  background: -webkit-linear-gradient(top, #afb3b9 0%, #6d7580 100%);
  background: linear-gradient(to bottom, #afb3b9 0%, #6d7580 100%);
  padding: 2px 1rem;
  line-height: 2em;
  vertical-align: middle;
  color: #fff;
  text-shadow: #616468 0 -1px 0;
  font-size: 1em;
  font-weight: bold;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
  font-family: Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.btn[disabled],
.btn[disabled]:active {
  background: -webkit-linear-gradient(top, #c9cbcd 0%, #afb2b7 100%);
  background: linear-gradient(to bottom, #c9cbcd 0%, #afb2b7 100%);
  border-color: #a3a4a5;
  color: #e9e9e9;
  text-shadow: #aaabad 0 -1px 0;
}

/* :active pseudo-classes can be used for hover states on mobile */
.btn:active {
  background: -webkit-linear-gradient(top, #6d7580 0%, #afb3b9 100%);
  background: linear-gradient(to bottom, #6d7580 0%, #afb3b9 100%);
}

/* Toolbar Buttons */
.barButton {
  display: inline-block;
  color: #fff;
  background: -webkit-linear-gradient(top, #9fa9c1 0%, #4d608d 100%);
  background: linear-gradient(to bottom, #9fa9c1 0%, #4d608d 100%);
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.4);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5),
              inset 0 1px 0 #8a93a6;
  text-shadow: rgba(0,0,0,0.8) 0 -1px 0;
  border-radius: 5px;
  font-size: 0.75rem;
  line-height: 1em;
  padding: 8px;
  font-weight: bold;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

.barButton.saveBarButton {
  background: -webkit-linear-gradient(top, #6f96e8 0%, #376fe0 50%, #2463de 50%);
  background: linear-gradient(to bottom, #6f96e8 0%, #376fe0 50%, #2463de 50%);
}

.barButton.saveBarButton:active,
.barButton.saveBarButton:hover {
  background: -webkit-linear-gradient(top, #75809f 0%, #3e517a 50%, #29406d 50%, #223965 100%);
  background: linear-gradient(to bottom, #75809f 0%, #3e517a 50%, #29406d 50%, #223965 100%);
}

.barButton.saveBarButton[disabled],
.barButton.saveBarButton[disabled]:active,
.barButton.saveBarButton[disabled]:hover {
  background: -webkit-linear-gradient(top, #6f96e8 0%, #376fe0 50%, #2463de 50%);
  background: linear-gradient(to bottom, #6f96e8 0%, #376fe0 50%, #2463de 50%);
  opacity: 0.5;
}

.barButton.backBarButton {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-left: 15px;
  padding-left: 2px;
  border-bottom-color: #404040;
}

.barButton.backBarButton:after {
  content: '';
  display: block;
  height: 21px;
  width: 21px;
  border-left: solid 1px #202020;
  border-bottom: solid 1px #404040;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-mask-image: -webkit-linear-gradient(left bottom, #000 0%, #000 50%, transparent 50%, transparent 100%);
  -moz-mask-image: -moz-linear-gradient(left bottom, #000 0%, #000 50%, transparent 50%, transparent 100%);
  mask-image: linear-gradient(left bottom, #000 0%, #000 50%, transparent 50%, transparent 100%);
  background: -webkit-linear-gradient(top left, #9fa9c1 0%, #4d608d 100%);
  background: linear-gradient(to bottom right, #9fa9c1 0%, #4d608d 100%);
  position: absolute;
  left: -11px;
  top: 3px;
}


/* FORMS AND INPUTS */
input,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  font-size: 1em;
  margin: 0;
  box-shadow: 0 1px 0 #fff;
  font-size: 1.166667em;
}

input[disabled],
textarea[disabled] {
  color: #999 !important;
  background-color: #eee;
}

label {
  font-size: 13px;
  margin: 10px;
  font-weight: bold;
  display: block;
  color: #50566b;
  text-shadow: #fff 0 1px 1px;
}

.note {
  font-size: 11px;
  text-align: center;
  color: #50566b;
  text-shadow: #fff 0 1px 1px;
  margin: 10px;
}


/* NAVIGATION VIEWS */

/* Animations And Transitions:
   Animated elements have 2 classes applied to them to trigger the animation:
   .animate adds the transition properties (useful for disabling animations if
   needed) and .go actually sets the new property values and triggers the animation */
.navigation-view .old-content.animate,
.navigation-view .new-content.animate {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.navigation-view .old-content {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* Animate old content to the left if going forward in the stack */
.navigation-view .old-content.go {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* Animate old content to the right if going back in the stack */
.navigation-view .old-content.back.go {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* New content starts offscreen on the right */
.navigation-view .new-content {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* New content when going back starts offscreen on the left */
.navigation-view .new-content.back {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* Translate new content to final position */
.navigation-view .new-content.go {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* position old header on top of new one */
.navigation-view .old-header {
  position: absolute !important;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden;
}
.navigation-view .old-header {
  background: none;
}
.navigation-view .old-header h1,
.navigation-view .old-header .backBarButton {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navigation-view .old-header.animate h1,
.navigation-view .old-header.animate .backBarButton,
.navigation-view .new-header.animate h1,
.navigation-view .new-header.animate .backBarButton {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* all buttons but the back button should just fade in/out */
.navigation-view .old-header.animate .barButton:not(.backBarButton),
.navigation-view .new-header.animate .barButton:not(.backBarButton) {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* Animate the old view header and back button off to the left and fade out */
.navigation-view .old-header.go h1,
.navigation-view .old-header.go .backBarButton {
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transform: translate3d(-100px, 0, 0);
  -ms-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
  opacity: 0;
}
/* fade out all other buttons */
.navigation-view .old-header.go .barButton:not(.backBarButton) {
  opacity: 0;
}
/* when going back in the stack, move header and back button in the other direction */
.navigation-view .old-header.back.go h1,
.navigation-view .old-header.back.go .backBarButton {
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  -ms-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
/* new header buttons should start at 0 opacity */
.navigation-view .new-header .barButton:not(.backBarButton) {
  opacity: 0;
}
/* new title and back button should move in from the right */
.navigation-view .new-header h1,
.navigation-view .new-header .backBarButton {
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  -ms-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
  opacity: 0;
}
/* when going back in the stack new header should come in from the left */
.navigation-view .new-header.back h1,
.navigation-view .new-header.back .backBarButton {
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transform: translate3d(-100px, 0, 0);
  -ms-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}
/* new buttons should fade in */
.navigation-view .new-header.go .barButton:not(.backBarButton) {
  opacity: 1;
}
/* new headers should move to the center */
.navigation-view .new-header.go h1,
.navigation-view .new-header.go .backBarButton {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* position modal view fixed over the whole page */
.modal-view {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
}
/* if animating, set transitions and transform off screen */
.modal-view.animate {
  -webkit-transform: translate3d(0, 120%, 0);
  -moz-transform: translate3d(0, 120%, 0);
  -ms-transform: translate3d(0, 120%, 0);
  transform: translate3d(0, 120%, 0);
  -webkit-transition: 0.4s ease-in-out -webkit-transform;
  -moz-transition: 0.4s ease-in-out -moz-transform;
  -ms-transition: 0.4s ease-in-out -ms-transform;
  transition: 0.4s ease-in-out transform;
}
/* when the modal-view-show class is applied, move modal up */
.modal-view.animate.modal-view-show {
  -webkit-transform: translate3d(0, 0%, 0);
  -moz-transform: translate3d(0, 0%, 0);
  -ms-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
}


/* Visual Styles for navigation views */
.navigation-title {
  background: -webkit-linear-gradient(top, #c3cbdc 0%, #627296 100%);
  background: linear-gradient(to bottom, #c3cbdc 0%, #627296 100%);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #4a5b7f;
  padding: 0 10px;
  margin: 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 2;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navigation-title.old-header {
  box-shadow: none;
}

.navigation-title-text {
  font-size: 1.429em;
  line-height: 40px;
  vertical-align: middle;
  margin: 0;
  text-shadow: rgba(0,0,0,0.8) 0 -1px 0;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: none;
  text-align: center;
  font-weight: bold;
}

.navigation-title .barButtons {
  position: absolute;
  top: 5px;
}
.navigation-title .barButtons.left {
  left: 11px;
}
.navigation-title .barButtons.right {
  right: 11px;
}

.navigation-content {
  -webkit-overflow-scrolling: touch; /* overflow-scrolling: touch enables smooth */
  overflow-scrolling: touch;         /* native-like scrolling on iOS 5+ */
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 42px;
  bottom: 0;
  z-index: 1;
  padding: 20px 16px;
  background-color: #dde2ed;
}


/* CHAT MESSAGE STYLES */
/* chat messages should scroll and be positioned with space at the bottom for the
   new message form */
#chat-messages {
  list-style-type: none;
  padding: 8px 10px 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 38px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.chat-message {
  margin: 0 0 7px;
  padding: 9px;
  background: -webkit-linear-gradient(top, #eaeaea 0%, #ddd 10%, #ddd 90%, #f4f4f4 100%);
  background: linear-gradient(to bottom, #eaeaea 0%, #ddd 10%, #ddd 90%, #f4f4f4 100%);
  border-radius: 8px;
  width: intrinsic;
  min-width: 10%;
  max-width: 75%;
  border: 1px solid #95979d;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  position: relative;
  clear: right;
  -webkit-user-select: auto; /* let users copy messages */
}
/* use pseudo :after element as the rounded "shine" element on top of the chat bubble */
.chat-message:after {
  content: '';
  display: block;
  position: absolute;
  left: 6px;
  right: 6px;
  top: 0;
  height: 12px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.4);
}
.chat-message:before {
  background-color: #ddd;
  content: "";
  display: block;
  height: 12px;
  width:  12px;
  position: absolute;
  left: -7px;
  bottom: 10px;
  -webkit-transform: rotate( 45deg );
  -moz-transform: rotate( 45deg );
  -ie-transform: rotate( 45deg );
  transform: rotate( 45deg );
  -webkit-mask-image: -webkit-linear-gradient(left bottom, #000 0%, #000 50%, transparent 50%, transparent 100%);
  -moz-mask-image: linear-gradient(to top right, #000 0%, #000 50%, transparent 50%, transparent 100%);
  mask-image: linear-gradient(to top right, #000 0%, #000 50%, transparent 50%, transparent 100%);
  border: 1px solid #95979d;
}
/* messages from the current user are blue and to the right */
.chat-message-mine {
  background: -webkit-linear-gradient(top, #a5c0fc 0%, #a8c4fc 10%, #abc8fc 90%, #e8feff 100%);
  background: linear-gradient(to bottom, #a5c0fc 0%, #a8c4fc 10%, #abc8fc 90%, #e8feff 100%);
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
  border-color: #293571;
  float: right;
  text-align: right;
}
.chat-message-mine:before {
  background-color: #a8c8f8;
  left: auto;
  right: -7px;
  -webkit-transform: rotate( 225deg );
  -moz-transform: rotate( 225deg );
  -ie-transform: rotate( 225deg );
  transform: rotate( 225deg );
  border-color: #293571;
}

/* formatting of chat text */
.chat-message-date {
  font-size: 10px;
  font-weight: bold;
  color: #8892a5;
  text-shadow: #fff 0 1px 0;
  text-align: center;
  clear: right;
}
.chat-message-user {
  margin: 0 -9px 0.5em;
  padding: 0 9px 0.5em;
  border-bottom: 1px dashed rgba(0,0,0,0.2);
  font-size: 1.166667em;
  font-weight: bold;
}
.chat-message-text {
  font-size: 1.166667em;
  line-height: 1.25em;
  margin: 0;
}

/* new message form is positioned absolutely at the bottom */
#new-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6px;
  background: linear-gradient(to bottom, #efeff0 0%, #c6c7cb 100%);
  background: -webkit-linear-gradient(top, #efeff0 0%, #c6c7cb 100%);
  box-shadow: inset 0 2px 0 #fff,
              0 0 0 rgba(0,0,0,0.5);
}

#new-message-text {
  padding: 4px 15px;
  line-height: 1em;
  border-radius: 15px;
  border: 1px solid #737373;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);
  width: 80%;
  font-size: 1.166667em;
}

#new-message-button {
  width: 18%;
  margin-left: 2%;
  font-size: 1.166667em;
}

.btn-send-message {
  background: linear-gradient(to bottom, #a3bafc 0%, #354adb 90%, #3f60e1 100%);
  background: -webkit-linear-gradient(top, #a3bafc 0%, #354adb 90%, #3f60e1 100%);
  padding: 4px 8px;
  text-align: center;
  line-height: 1em;
  border-radius: 15px;
  border: 1px solid #384993;
  font-weight: normal;
}

.btn-send-message[disabled] {
  background: linear-gradient(to bottom, #a3bafc 0%, #354adb 90%, #3f60e1 100%);
  background: -webkit-linear-gradient(top, #a3bafc 0%, #354adb 90%, #3f60e1 100%);
  color: rgba(255, 255, 255, 0.3);
}